---
layout: default
title: Buttons - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: components/button
---

<section class="hx-section is-comfortable">
  <h1 class="hx-title">Buttons</h1>
  <h2 class="hx-subtitle">The classic button, in different colors, sizes, and states</h2>
  <hr>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <div class="hx-field">
        <a class="hx-button">Button</a>
        <a class="hx-button is-white">White</a>
        <a class="hx-button is-light">Light</a>
        <a class="hx-button is-dark">Dark</a>
        <a class="hx-button is-black">Black</a>
        <a class="hx-button is-link">Link</a>
      </div>
      <div class="hx-field">
        <a class="hx-button is-primary">Primary</a>
        <a class="hx-button is-info">Info</a>
        <a class="hx-button is-warning">Warning</a>
        <a class="hx-button is-danger">Danger</a>
      </div>
    </div>

    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field">
        <a class="hx-button">Button</a>
        <a class="hx-button is-white">White</a>
        <a class="hx-button is-light">Light</a>
        <a class="hx-button is-dark">Dark</a>
        <a class="hx-button is-black">Black</a>
        <a class="hx-button is-link">Link</a>
      </div>
      <div class="hx-field">
        <a class="hx-button is-primary">Primary</a>
        <a class="hx-button is-info">Info</a>
        <a class="hx-button is-warning">Warning</a>
        <a class="hx-button is-danger">Danger</a>
      </div>
      </xmp></code></pre>
    </div>
  </div>
  <hr>

  <h3>Button Sizes</h3>
  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <div class="hx-field">
        <a class="hx-button is-small">Small</a>
        <a class="hx-button">Normal</a>
        <a class="hx-button is-large">Large</a>
      </div>
    </div>

    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field">
        <a class="hx-button is-small">Small</a>
        <a class="hx-button">Normal</a>
        <a class="hx-button is-large">Large</a>
      </div>
      </xmp></code></pre>
    </div>
  </div>

  <hr>

  <h3>Button Styles</h3>
  <h4 >Outlined</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <a class="hx-button is-outlined">Outlined</a>
      <a class="hx-button is-primary is-outlined">Outlined</a>
      <a class="hx-button is-info is-outlined">Outlined</a>
      <a class="hx-button is-danger is-outlined">Outlined</a>
    </div>

    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button is-outlined">Outlined</a>
      <a class="hx-button is-primary is-outlined">Outlined</a>
      <a class="hx-button is-info is-outlined">Outlined</a>
      <a class="hx-button is-danger is-outlined">Outlined</a>
      </xmp></code></pre>
    </div>
  </div>

  <hr>

  <h3>Button States</h3>
  <h4 >Normal</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <a class="hx-button">Normal</a>
      <a class="hx-button is-primary">Normal</a>
      <a class="hx-button is-info">Normal</a>
      <a class="hx-button is-warning">Normal</a>
      <a class="hx-button is-danger">Normal</a>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button">Normal</a>
      <a class="hx-button is-primary">Normal</a>
      <a class="hx-button is-info">Normal</a>
      <a class="hx-button is-warning">Normal</a>
      <a class="hx-button is-danger">Normal</a>
      </xmp></code></pre>
    </div>
  </div>

  <h4 >Hover</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <a class="hx-button is-hovered">Hover</a>
      <a class="hx-button is-primary is-hovered">Hover</a>
      <a class="hx-button is-info is-hovered">Hover</a>
      <a class="hx-button is-warning is-hovered">Hover</a>
      <a class="hx-button is-danger is-hovered">Hover</a>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button is-hovered">Hover</a>
      <a class="hx-button is-primary is-hovered">Hover</a>
      <a class="hx-button is-info is-hovered">Hover</a>
      <a class="hx-button is-warning is-hovered">Hover</a>
      <a class="hx-button is-danger is-hovered">Hover</a>
      </xmp></code></pre>
    </div>
  </div>

  <h4 >Focus</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <a class="hx-button is-focused">Focus</a>
      <a class="hx-button is-primary is-focused">Focus</a>
      <a class="hx-button is-info is-focused">Focus</a>
      <a class="hx-button is-warning is-focused">Focus</a>
      <a class="hx-button is-danger is-focused">Focus</a>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button is-focused">Focus</a>
      <a class="hx-button is-primary is-focused">Focus</a>
      <a class="hx-button is-info is-focused">Focus</a>
      <a class="hx-button is-warning is-focused">Focus</a>
      <a class="hx-button is-danger is-focused">Focus</a>
      </xmp></code></pre>
    </div>
  </div>

  <h4 >Active</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <a class="hx-button is-active">Active</a>
      <a class="hx-button is-primary is-active">Active</a>
      <a class="hx-button is-info is-active">Active</a>
      <a class="hx-button is-warning is-active">Active</a>
      <a class="hx-button is-danger is-active">Active</a>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button is-active">Active</a>
      <a class="hx-button is-primary is-active">Active</a>
      <a class="hx-button is-info is-active">Active</a>
      <a class="hx-button is-warning is-active">Active</a>
      <a class="hx-button is-danger is-active">Active</a>
      </xmp></code></pre>
    </div>
  </div>


  <h4 >Loading</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <a class="hx-button is-loading">Loading</a>
      <a class="hx-button is-primary is-loading">Loading</a>
      <a class="hx-button is-info is-loading">Loading</a>
      <a class="hx-button is-warning is-loading">Loading</a>
      <a class="hx-button is-danger is-loading">Loading</a>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button is-loading">Loading</a>
      <a class="hx-button is-primary is-loading">Loading</a>
      <a class="hx-button is-info is-loading">Loading</a>
      <a class="hx-button is-warning is-loading">Loading</a>
      <a class="hx-button is-danger is-loading">Loading</a>
      </xmp></code></pre>
    </div>
  </div>

  <h4 >Disabled</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <p class="hx-field">
        <a class="hx-button" disabled>Disabled</a>
        <a class="hx-button is-primary" disabled>Disabled</a>
        <a class="hx-button is-info" disabled>Disabled</a>
        <a class="hx-button is-warning" disabled>Disabled</a>
        <a class="hx-button is-danger" disabled>Disabled</a>
      </p>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button" disabled>Disabled</a>
      <a class="hx-button is-primary" disabled>Disabled</a>
      <a class="hx-button is-info" disabled>Disabled</a>
      <a class="hx-button is-warning" disabled>Disabled</a>
      <a class="hx-button is-danger" disabled>Disabled</a>
      </xmp></code></pre>
    </div>
  </div>

  <h4 >Button with Icons</h4>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Example</p>
      <p><a class="hx-button"><span class="hx-icon-control"><i class="icon icon-helix"></i></span> <span>Helix</span></a> <a class="hx-button"><span>Helix</span> <span class="hx-icon-control"><i class="icon icon-helix"></i></span></a> <a class="hx-button is-success" href="#"><span class="hx-icon-control"><i class="icon icon-plus-empty"></i></span> <span>Add</span></a> <a class="hx-button is-info"><span>More</span> <span class="hx-icon-control"><i class="icon icon-more"></i></span></a> <a class="hx-button is-danger"><span class="hx-icon-control"><i class="icon icon-close-empty"></i></span> <span>Remove</span></a></p>
      <p><a href="#" class="hx-button is-primary is-outlined"><span class="hx-icon-control"><i class="icon icon-helix"></i><span></a> <a class="hx-button is-warning" href="#"><span class="hx-icon-control"><i class="icon icon-plus-empty"></i><span></a> <a class="hx-button is-dark"><span class="hx-icon-control"><i class="icon icon-angle-left"></i></span></a> <a class="hx-button is-success"><span class="hx-icon-control"><i class="icon icon-angle-right"></i></span></a> <a class="hx-button is-danger"><span class="hx-icon-control"><i class="icon icon-heart"></i></span></a></p>
      <p><a class="hx-button is-info is-small"><span>Small</span> <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span></a> <a class="hx-button is-info"><span>Medium</span> <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span></a> <a class="hx-button is-info is-large"><span>Large</span> <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span></a></p>
    </div>
    <div class="hx-column is-6">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <a class="hx-button">
        <span class="hx-icon-control"><i class="icon icon-helix"></i></span>
        <span>Helix</span>
      </a>
      <a class="hx-button">
        <span>Helix</span>
        <span class="hx-icon-control"><i class="icon icon-helix"></i></span>
      </a>
      <a class="hx-button is-success" href="#">
        <span class="hx-icon-control"><i class="icon icon-plus-empty"></i></span>
        <span>Add</span>
      </a>
      <a class="hx-button is-info">
        <span>More</span>
        <span class="hx-icon-control"><i class="icon icon-more"></i></span>
      </a>
      <a class="hx-button is-danger">
        <span class="hx-icon-control"><i class="icon icon-close-empty"></i></span>
        <span>Remove</span>
      </a>
      <a href="#" class="hx-button is-primary is-outlined">
        <span class="hx-icon-control"><i class="icon icon-helix"></i><span>
      </a>
      <a class="hx-button is-warning">
        <span class="hx-icon-control"><i class="icon icon-plus-empty"></i><span>
      </a>
      <a class="hx-button is-dark">
        <span class="hx-icon-control"><i class="icon icon-angle-left"></i></span>
      </a>
      <a class="hx-button is-success">
        <span class="hx-icon-control"><i class="icon icon-angle-right"></i></span>
      </a>
      <a class="hx-button is-danger">
        <span class="hx-icon-control"><i class="icon icon-heart"></i></span>
      </a>
      <a class="hx-button is-info is-small">
        <span>Small</span>
        <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span>
      </a>
      <a class="hx-button is-info">
        <span>Medium</span>
        <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span>
      </a>
      <a class="hx-button is-info is-large">
        <span>Large</span>
        <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span>
      </a>
      </xmp></code></pre>
    </div>
  </div>

  <hr>
  <div class="hx-columns">
    <div class="hx-column">
      <h3>Button Groups</h3>
      <p>If you want to group buttons together, use the <code>.is-grouped</code> modifier on the <code>.hx-field</code> container:</p>

      <div class="doc-example">
        <div class="hx-field is-grouped">
          <p class="hx-control">
            <a class="hx-button is-primary">
              Save changes
            </a>
          </p>
          <p class="hx-control">
            <a class="hx-button">
              Cancel
            </a>
          </p>
          <p class="hx-control">
            <a class="hx-button is-danger">
              Delete item
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field is-grouped">
        <p class="hx-control">
          <a class="hx-button is-primary">
            Save changes
          </a>
        </p>
        <p class="hx-control">
          <a class="hx-button">
            Cancel
          </a>
        </p>
        <p class="hx-control">
          <a class="hx-button is-danger">
            Delete item
          </a>
        </p>
      </div>
    </xmp></code></pre>
    </div>
  </div>

  <br/>

  <div class="hx-columns">
    <div class="hx-column">
      <p>You can center the button group or any grouped elements using <code>.is-grouped-centered</code> modifier.</p>
      <div class="doc-example">
        <div class="hx-field is-grouped is-grouped-centered">
          <p class="hx-control">
            <a class="hx-button is-primary">
              Save changes
            </a>
          </p>
          <p class="hx-control">
            <a class="hx-button">
              Cancel
            </a>
          </p>
          <p class="hx-control">
            <a class="hx-button is-danger">
              Delete item
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field is-grouped is-grouped-centered">
        ...
      </div>
      </xmp></code></pre>
    </div>
  </div>

  <br />

  <div class="hx-columns">
    <div class="hx-column">
      <p>You can also right align the group using <code>.is-grouped-right</code> modifier.</p>
      <div class="doc-example">
        <div class="hx-field is-grouped is-grouped-right">
          <p class="hx-control">
            <a class="hx-button is-primary">
              Save changes
            </a>
          </p>
          <p class="hx-control">
            <a class="hx-button">
              Cancel
            </a>
          </p>
          <p class="hx-control">
            <a class="hx-button is-danger">
              Delete item
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field is-grouped is-grouped-right">
        ...
      </div>
      </xmp></code></pre>
    </div>
  </div>

  <hr>

  <div class="hx-columns">
    <div class="hx-column">
      <h3>Button Group Addons</h3>
      <h4>Default Button Group Addons</h4>
      <p>This is a simple example for the Button Group Addons</p>

      <div class="doc-example">
        <div class="hx-field has-addons">
          <div class="hx-control">
            <a class="hx-button">
              Left
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button">
              Middle
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button">
              Right
            </a>
          </div>
        </div>
      </div>

      <p>You can change the button styls in button group addons using the button modifiers such as <code>.is-info</code> or <code>.is-primary</code>, etc.</p>
      <div class="doc-example">
        <div class="hx-field has-addons">
          <div class="hx-control">
            <a class="hx-button is-info">
              Left
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-info">
              Middle
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-info">
              Right
            </a>
          </div>
        </div>
      </div>

      <div class="doc-example">
        <div class="hx-field has-addons">
          <div class="hx-control">
            <a class="hx-button is-primary">
              Left
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-primary">
              Middle
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-primary">
              Right
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="hx-column is-6">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field has-addons">
        <div class="hx-control">
          <a class="hx-button">
            Left
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button">
            Middle
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button">
            Right
          </a>
        </div>
      </div>

      <div class="hx-field has-addons">
        <div class="hx-control">
          <a class="hx-button is-info">
            Left
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-info">
            Middle
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-info">
            Right
          </a>
        </div>
      </div>

      <div class="hx-field has-addons">
        <div class="hx-control">
          <a class="hx-button is-primary">
            Left
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-primary">
            Middle
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-primary">
            Right
          </a>
        </div>
      </div>
      </xmp></code></pre>
    </div>
  </div>
<br>
  <div class="hx-columns">
    <div class="hx-column">
      <h4>Button Group Addons with Icons</h4>
      <p>You can add icons to the Button Group Addons in this structure,</p>
      <ul>
        <li><code>.hx-field .has-addons</code></li>
        <ul>
          <li><code>.hx-control</code></li>
          <ul>
            <li><code>.hx-button</code></li>
            <ul>
              <li><code>.hx-icon-control</code></li>
              <ul>
                <li><code>.icon icon-telephone</code></li>
              </ul>
              <li><code>&lt;span&gt;Call&lt;/span&gt;</code></li>
            </ul>
          </ul>
        </ul>
      </ul>

      <div class="doc-example">
        <div class="hx-field has-addons">
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-telephone"></i></span> <span>Call</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-email"></i></span> <span>Email</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-flag"></i></span> <span>Flag</span></a>
          </div>
        </div>
      </div>

      <p>This works like Button Groups, you can center it using <code>.has-addons-centered</code> modifier.</p>
      <div class="doc-example">
        <div class="hx-field has-addons has-addons-centered">
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-telephone"></i></span> <span>Call</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-email"></i></span> <span>Email</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-flag"></i></span> <span>Flag</span></a>
          </div>
        </div>
      </div>

      <p>Or right aligh it using <code>.has-addons-right</code> modifier.</p>
      <div class="doc-example">
        <div class="hx-field has-addons has-addons-right">
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-telephone"></i></span> <span>Call</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-email"></i></span> <span>Email</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-flag"></i></span> <span>Flag</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hx-column is-6">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field has-addons">
        <div class="hx-control">
          <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-telephone"></i></span> <span>Call</span></a>
        </div>
        <div class="hx-control">
          <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-email"></i></span> <span>Email</span></a>
        </div>
        <div class="hx-control">
          <a class="hx-button"><span class="hx-icon-control"><i class="icon icon-flag"></i></span> <span>Flag</span></a>
        </div>
      </div>
      <div class="hx-field has-addons has-addons-centered">
        ...
      </div>
      <div class="hx-field has-addons has-addons-right">
        ...
      </div>
      </xmp></code></pre>
    </div>
  </div>
  <br/>
  <div class="hx-columns">
    <div class="hx-column">
      <h4>Icon based Button Group Addons</h4>
      <div class="doc-example">
        <div class="hx-field has-addons">
          <div class="hx-control">
            <a class="hx-button is-primary">
              <span class="hx-icon-control"><i class="icon icon-telephone"></i></span>
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-primary">
              <span class="hx-icon-control"><i class="icon icon-email"></i></span>
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-primary">
              <span class="hx-icon-control"><i class="icon icon-flag"></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class="doc-example">
        <div class="hx-field has-addons">
          <div class="hx-control">
            <a class="hx-button is-info">
              <span class="hx-icon-control"><i class="icon icon-cloud-download"></i></span>
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-info">
              <span class="hx-icon-control"><i class="icon icon-cloud-upload"></i></span>
            </a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-info">
              <span class="hx-icon-control"><i class="icon icon-printer"></i></span>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field has-addons">
        <div class="hx-control">
          <a class="hx-button is-primary">
            <span class="hx-icon-control"><i class="icon icon-telephone"></i></span>
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-primary">
            <span class="hx-icon-control"><i class="icon icon-email"></i></span>
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-primary">
            <span class="hx-icon-control"><i class="icon icon-flag"></i></span>
          </a>
        </div>
      </div>

      <div class="hx-field has-addons">
        <div class="hx-control">
          <a class="hx-button is-info">
            <span class="hx-icon-control"><i class="icon icon-cloud-download"></i></span>
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-info">
            <span class="hx-icon-control"><i class="icon icon-cloud-upload"></i></span>
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-info">
            <span class="hx-icon-control"><i class="icon icon-printer"></i></span>
          </a>
        </div>
      </div>
      </xmp></code></pre>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <h4>Justified Button Group Addons</h4>
      <p>Make a group of buttons stretch at equal sizes to span the entire width of its parent.</p>
      <p>You can have full width addons using <code>.has-addons-fullwidth</code> modifier. And use <code>.is-fullwidth</code> modifier for buttons</p>
      <div class="doc-example">
        <div class="hx-field has-addons has-addons-fullwidth">
          <div class="hx-control">
            <a class="hx-button is-fullwidth"><span class="hx-icon-control"><i class="icon icon-telephone"></i></span> <span>Call</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-fullwidth"><span class="hx-icon-control"><i class="icon icon-email"></i></span> <span>Email</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-fullwidth"><span class="hx-icon-control"><i class="icon icon-flag"></i></span> <span>Flag</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="hx-column is-6">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-field has-addons has-addons-fullwidth">
        <div class="hx-control">
          <a class="hx-button is-fullwidth">
            <span class="hx-icon-control"><i class="icon icon-telephone"></i></span>
            <span>Call</span>
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-fullwidth">
            <span class="hx-icon-control"><i class="icon icon-email"></i></span>
            <span>Email</span>
          </a>
        </div>
        <div class="hx-control">
          <a class="hx-button is-fullwidth">
            <span class="hx-icon-control"><i class="icon icon-flag"></i></span>
            <span>Flag</span>
          </a>
        </div>
      </div>
      </xmp></code></pre>
    </div>
  </div>
  <br>
  <div class="hx-columns">
    <div class="hx-column">
      <p>This also works with button dropdowns within the button group addons.</p>
      <div class="doc-example">
        <div class="hx-field has-addons has-addons-fullwidth">
          <div class="hx-control">
            <a class="hx-button is-fullwidth"><span class="hx-icon-control"><i class="icon icon-telephone"></i></span> <span>Call</span></a>
          </div>
          <div class="hx-control">
            <a class="hx-button is-fullwidth"><span class="hx-icon-control"><i class="icon icon-email"></i></span> <span>Email</span></a>
          </div>
          <div class="hx-control">
            <div class="hx-dropdown is-open">
              <button class="hx-button is-fullwidth hx-button-gray hx-button-dropdown" type="button">
                <span>Dropdown</span> <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span>
              </button>
              <div class="hx-dropdown-menu">
                <a class="hx-dropdown-item" href="#">Action</a>
                <a class="hx-dropdown-item" href="#">Another action</a>
                <a class="hx-dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hx-column is-6">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
    <div class="hx-field has-addons has-addons-fullwidth">
      <div class="hx-control">
        <a class="hx-button is-fullwidth">
          <span class="hx-icon-control"><i class="icon icon-telephone"></i></span>
          <span>Call</span>
        </a>
      </div>
      <div class="hx-control">
        <a class="hx-button is-fullwidth">
          <span class="hx-icon-control"><i class="icon icon-email"></i></span>
          <span>Email</span>
        </a>
      </div>
      <div class="hx-control">
        <div class="hx-dropdown is-open">
          <button class="hx-button is-fullwidth hx-button-gray hx-button-dropdown" type="button">
            <span>Dropdown</span>
            <span class="hx-icon-control"><i class="icon icon-angle-down"></i></span>
          </button>
          <div class="hx-dropdown-menu">
            <a class="hx-dropdown-item" href="#">Action</a>
            <a class="hx-dropdown-item" href="#">Another action</a>
            <a class="hx-dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
      </xmp></code></pre>
    </div>
  </div>

  <br>
  <br>


</section>
