---
layout: default
title: Icons - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: components/icons
route: icons.html
---

<div id="icons" class="hx-columns">
  <div class="hx-column is-10-widescreen is-offset-1-widescreen is-8-fullhd is-offset-2-fullhd">

    <h1 class="hx-title">Icons</h1>
    <h2 class="hx-subtitle">Hx/Ui comes with its own custom icons.</h2>
    <hr>

    <div id="">

      <section class="hx-section">
        <div class="hx-columns">
          <div class="hx-column is-6-widescreen is-offset-3-widescreen">

            <div class="hx-input-control has-text-centered">
              <input class="hx-input" type="text" required v-model="searchTerm">
              <label class="hx-label">Search icons</label>
            </div>

          </div>
        </div>
      </section>

      <section class="hx-section content is-small">
        <div class="hx-columns is-mobile">

          <div class="hx-column is-2 has-text-centered" v-for="icon in filterResults">
            <i class="hx-icon is-large" :class="'icon-' + icon.name"></i>
            <p v-text="icon.name"></p>
          </div>

        </div>
      </section>

    </div>

    <hr>

    <section class="hx-section">
      <p>Because the icons can take a few seconds to load, and because you want control over the space the icons will take, you can use the icon class as a container:</p>

      <p>Code</p>

      <pre><code class="language-markup"><xmp>
  <i class="hx-icon icon-helix"></i>
      </xmp></code></pre>

      <p>The <code>icon</code> container will take up exactly <strong>1.5rem x 1.5rem</strong>. The icon itself is sized at <strong>21px</strong>.</p>
    </section>

    <hr>

    <section class="hx-section">

      <h3>Sizes</h3>
      <p>Font Awesome icons use a font-size of 28px by default, and are best rendered when using multiples of 7. The icon container is always slightly bigger than the font-size used:</p>
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Class</th>
            <th></th>
            <th>Font-size</th>
            <th>Container size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>icon is-small</code></td>
            <td class="has-text-centered"><i class="hx-icon icon-helix is-small"></i></td>
            <td>14px</td>
            <td>1rem x 1rem</td>
          </tr>
          <tr>
            <td><code>icon</code></td>
            <td class="has-text-centered"><i class="hx-icon icon-helix"></i></td>
            <td>21px</td>
            <td>1.5rem x 1.5rem</td>
          </tr>
          <tr>
            <td><code>icon is-medium</code></td>
            <td class="has-text-centered"><i class="hx-icon icon-helix is-medium"></i></td>
            <td>28px</td>
            <td>2rem x 2rem</td>
          </tr>
          <tr>
            <td><code>icon is-large</code></td>
            <td class="has-text-centered"><i class="hx-icon icon-helix is-large"></i></td>
            <td>42px</td>
            <td>3rem x 3rem</td>
          </tr>
        </tbody>
      </table>
    </section>
