---
layout: default
title: Pagination - Helix Experience UI Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: components/pagination
---
<section class="hx-section is-comfortable">
  <h1 class="hx-title">Pagination</h1>
  <h2 class="hx-subtitle">This component provides pagination links for multi-page pagination.</h2>
  <hr>
  <h1 class="h3">Example</h1>

  <div class="hx-columns">
    <div class="hx-column">
      <ul class="hx-pagination">
        <li class="is-first is-disabled"><a  href="">First</a></li>
        <li class="is-prev"><a  href="">Previous</a></li>
        <li class="is-current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li class="is-next"><a href="">Next</a></li>
        <li class="is-last"><a href="">Last</a></li>
      </ul>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <pre><code class="language-markup"><xmp>
      <ul class="hx-pagination">
        <li class="is-first is-disabled"><a  href="">First</a></li>
        <li class="is-prev"><a  href="">Previous</a></li>
        <li class="is-current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li class="is-next"><a href="">Next</a></li>
        <li class="is-last"><a href="">Last</a></li>
      </ul>
      </xmp></code></pre>
    </div>
  </div>





</section>
