---
layout: default
title: Sidebar - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: components/sidebar
---

<section class="hx-section is-comfortable">
  <h1 class="hx-title">Sidebar</h1>
  <h2 class="hx-subtitle">Primarily used for navigation or meta data.</h2>
  <hr>

  <h4>Variations</h4>
  <p>You can use any combination of variations except for more than 1 gradient at a time</p>

  <div class="hx-columns">
    <div class="hx-column">
      <p>Code</p>
      <pre><code class="language-markup"><xmp>
        <!-- minified no gradient -->
        <div class="hx-sidebar is-minified"></div>

        <!--  blue gradient -->
        <div class="hx-sidebar has-blue-gradient"></div>

        <!--  purple gradient -->
        <div class="hx-sidebar has-purple-gradient"></div>

        <!--  orange gradient -->
        <div class="hx-sidebar has-orange-gradient"></div>
      </xmp></code></pre>
    </div>
  </div>
  <hr>
</section>
