---
layout: default
title: Tabs - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: components/tab
---
<section class="hx-section is-comfortable">
  <h1 class="hx-title">Tabs</h1>
  <h2 class="hx-subtitle">The tab component is a small complete navigation component.</h2>
  <hr>
  <h4>Example</h4>
  <p>The tab component only works in the HxUi-angular or HxUi-react web component libraries.</p>
  <br>

  <div class="hx-columns">
    <div class="hx-column">
      <div class="hx-tab-container">
        <ul class="hx-nav hx-nav-tabs">
          <li class="hx-nav-item is-active">
            <a class="hx-nav-link is-active" href="javascript:void(0);">
              <span>Template</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Typescript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Javascript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Other</span>
            </a>
          </li>
        </ul>
        <div class="hx-tab-content">
              Tab content container
        </div>
      </div>
    </div>
  </div>
  <div class="hx-columns">
    <div class="hx-column">

      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-tab-container">
        <ul class="hx-nav hx-nav-tabs">
          <li class="hx-nav-item is-active">
            <a class="hx-nav-link is-active" href="javascript:void(0);">
              <span>Template</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Typescript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Javascript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Other</span>
            </a>
          </li>
        </ul>
        <div class="hx-tab-content">
              Tab content container
        </div>
      </div>
      </xmp></code></pre>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <H4>Modifiers</H4>
      <h5>Center aligned</h5>
      <p>Centering the nav can be easily done by adding the modifier <code>.is-centered</code> to the <code>.hx-nav</code> base class.</p>

      <br>
      <p>Example</p>
      <div class="hx-tab-container">
        <ul class="hx-nav hx-nav-tabs is-centered">
          <li class="hx-nav-item is-active">
            <a class="hx-nav-link is-active" href="javascript:void(0);">
              <span>Template</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Typescript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Javascript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Other</span>
            </a>
          </li>
        </ul>
        <div class="hx-tab-content">
              Tab content container
        </div>
      </div>
      <br>

      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-tab-container">
        <ul class="hx-nav hx-nav-tabs is-centered">
          ...
        </ul>
        <div class="hx-tab-content">
          ...
        </div>
      </div>
      </xmp></code></pre>
      <br />
      <h5>Right aligned</h5>
      <p>To align the nav to the right can be easily achieved by adding the modifier <code>.is-right</code> to the <code>.hx-nav</code> base class.</p>

      <br>
      <p>Example</p>
      <div class="hx-tab-container">
        <ul class="hx-nav hx-nav-tabs is-right">
          <li class="hx-nav-item is-active">
            <a class="hx-nav-link is-active" href="javascript:void(0);">
              <span>Template</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Typescript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Javascript</span>
            </a>
          </li>
          <li class="hx-nav-item">
            <a class="hx-nav-link" href="javascript:void(0);">
              <span>Other</span>
            </a>
          </li>
        </ul>
        <div class="hx-tab-content">
              Tab content container
        </div>
      </div>
      <br>

      <p>Code</p>
      <pre><code class="language-markup"><xmp>
      <div class="hx-tab-container">
        <ul class="hx-nav hx-nav-tabs is-right">
          ...
        </ul>
        <div class="hx-tab-content">
          ...
        </div>
      </div>
      </xmp></code></pre>

    </div>
  </div>
</section>
