---
layout: default
title: Toggle - Helix Experience UI Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: components/toggle
---
<section id="toggles" class="hx-section is-comfortable">
  <h1>Toggle</h1>
  <h2 class="hx-subtitle">A toggle switch is used as an on/off control.</h2>
  <hr>
  <section class="hx-section">

    <div class="hx-columns">
      <div class="hx-column">

        <div class="hx-card is-flat">
          <div class="hx-card-header">
            <h4 class="hx-card-header-title my-2 px-4">Example</h4>
            <button class="hx-button is-pulled-right mx-4" v-on:click="toggleContent">Code</button>
          </div>

          <transition name="slide">
            <div class="hx-card-content pa-0 hx-code" v-if="contentVisible">

  <pre class="ma-0"><code class="language-markup"><xmp>
  <p>Default State</p>
  <div class="hx-toggle">
    <label>
      Off
      <input type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>
  <br>
  <p>Checked State</p>
  <div class="hx-toggle">
    <label>
      Off
      <input type="checkbox" checked>
      <span class="lever"></span>
      On
    </label>
  </div>
  <br>
  <p>Disabled State</p>
  <div class="hx-toggle">
    <label>
      Off
      <input disabled type="checkbox">
      <span class="lever"></span>
      On
    </label>
  </div>
  </xmp></code></pre>

            </div>
          </transition>

          <div class="hx-card-content pa-5">

            <p>Default State</p>
            <div class="hx-toggle">
              <label>
                Off
                <input type="checkbox">
                <span class="lever"></span>
                On
              </label>
            </div>
            <br>
            <p>Checked State</p>
            <div class="hx-toggle">
              <label>
                Off
                <input type="checkbox" checked>
                <span class="lever"></span>
                On
              </label>
            </div>
            <br>
            <p>Disabled State</p>
            <div class="hx-toggle">
              <label>
                Off
                <input disabled type="checkbox">
                <span class="lever"></span>
                On
              </label>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>
</section>
