<template>
  <div class="hx-card is-flat">
    <div class="hx-card-header">
      <h4 class="hx-card-header-title my-2 px-4">
        <slot name="title"></slot>
      </h4>
      <button class="hx-button is-pulled-right mx-4" v-on:click="toggleCode">Code</button>
    </div>

    <transition name="slide">
      <div class="hx-card-content pa-0 hx-code" v-if="codeVisible">

  <pre class="ma-0"><code class="language-markup"><xmp>
  <slot name="code"></slot>
  </xmp></code></pre>

      </div>
    </transition>

    <div class="hx-card-content pa-5">

      <slot></slot>

    </div>
  </div>
</template>

<script>
export default {
  name: 'example-code-panel',
  data () {
    return {
      codeVisible: false
    }
  },
  methods: {
    toggleCode () {
      this.codeVisible = !this.codeVisible
    }
  }
}
</script>

<style lang="scss">
</style>
