---
layout: default
title: Helix Experience UI Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: content/code
---
<section class="hx-section is-comfortable">
  <h1 class="hx-title">Code</h1>
  <h2 class="hx-subtitle">Styles for inline code snippets and longer, multiline blocks of code.</h2>
  <hr>
  <div class="hx-columns">
    <div class="hx-column">
      <h3>Inline code</h3>
      For example, <code>.hx-column</code> should be wrapped as inline.
    </div>
  </div>
  <hr>
    <h3>Code blocks</h3>
    <pre><code class="language-markup"><xmp>
      <p>Sample text here...</p>
      <p>And another line of sample text here...</p>
    </xmp></code></pre>
    <br>
  <hr>

  <h3>User Input</h3>
  To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
  To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
  <br>
  <hr>

  <h3>Variables</h3>
  <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
  <br>
  <hr>

  <h3>Sample output</h3>
  <samp>This text is meant to be treated as sample output from a computer program.</samp>
  <br>
</section>
