<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="hxui-reset">

  {% include head.html %}

  <body>

  <div class="hx-page">

    <main class="hx-page-body" aria-label="Content">
      {% include sidebar.html %}
      {% include nav.html %}
      <section class="hx-section scrollable-y">
      {{ content }}
      </section>
    </main>
    <footer class="hx-page-footer">
      <!-- {% include footer.html %} -->
    </footer>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script src="/javascript/main.js"></script>
  <script src="/javascript/prism.js"></script>
  <script src="/javascript/icons.js"></script>
  <script src="/javascript/toggles.js"></script>
  <!-- <script src="/javascript/jquery-3.2.1.min.js"></script> -->
  </body>

</html>
