<div class="hx-sidebar is-medium-width is-scrollable">
  {% for item in site.data.nav.toc %}
    <ul class="hx-nav hx-nav-vertical">
      <li class="hx-nav-heading"><h6><span class="oi" data-glyph="{{ item.icon }}"></span> {{ item.title }}</h6></li>
      {% for entry in item.subfolderitems %}
      <li class="hx-nav-item">
        <a class="hx-nav-link {% if entry.url == page.url %}is-active{% endif %}" href="{{ entry.url }}"><span>{{ entry.page }}</span></a>
      </li>
      {% endfor %}
    </ul>
    <hr>
  {% endfor %}
</div>
