<nav class="hx-navbar has-gradient-background">
  <div class="hx-navbar-left">
    <a class="hx-navbar-item" href="#">
      Home
    </a>
  </div>

  <div class="hx-navbar-right">
    <div class="hx-navbar-logo is-medium">
      <svg width="100%" height="100%" viewBox="0 0 126 200" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
          <g transform="matrix(1,0,0,1,-449.627,-284.722)">
              <g transform="matrix(4.19695,0,0,4.19695,-1575.12,-2034.72)">
              <path d="M495.4,584.99L506.309,580.334L506.391,580.304C507.635,579.79 509.122,580.074 510.085,581.125C511.319,582.47 511.229,584.559 509.884,585.793L509.768,585.899L494.121,600.255L494.07,600.302C493.159,599.902 492.314,599.309 491.599,598.528C488.832,595.513 489.034,590.826 492.05,588.061L495.4,584.99Z" style="fill:rgb(222,222,222);fill-rule:nonzero;"></path>
              </g>
              <g transform="matrix(4.19695,0,0,4.19695,-1575.12,-2034.72)">
              <path d="M484.832,573.833C481.816,576.599 481.615,581.287 484.381,584.302C486.66,586.786 490.243,587.362 493.121,585.939C492.352,586.15 491.497,585.935 490.92,585.307C490.101,584.414 490.161,583.026 491.054,582.207L491.987,581.352L499.346,574.608L498.125,575.13L489.423,578.844L488.37,579.289C487.122,579.812 485.627,579.528 484.66,578.475C483.426,577.13 483.517,575.041 484.861,573.807L485.824,572.924" style="fill:rgb(222,222,222);fill-rule:nonzero;"></path>
              </g>
              <g transform="matrix(4.19695,0,0,4.19695,-1575.12,-2034.72)">
              <path d="M509.922,585.776C512.938,583.01 513.139,578.322 510.374,575.307C508.094,572.823 504.511,572.248 501.633,573.671C502.402,573.459 503.257,573.675 503.834,574.302C504.653,575.195 504.593,576.584 503.7,577.403L502.767,578.258L495.409,585L506.317,580.345L506.399,580.314C507.644,579.8 509.131,580.085 510.094,581.135C511.328,582.479 511.238,584.569 509.893,585.803L509.777,585.909" style="fill:white;fill-rule:nonzero;"></path>
              </g>
              <g transform="matrix(4.19695,0,0,4.19695,-1575.12,-2034.72)">
              <path d="M499.355,574.617L498.133,575.139L489.432,578.853L488.379,579.299C487.131,579.821 485.636,579.538 484.669,578.483C483.435,577.138 483.525,575.049 484.87,573.815L485.833,572.933L507.742,552.84L507.951,552.648C508.862,553.049 509.706,553.641 510.422,554.422C513.188,557.437 512.985,562.124 509.971,564.889L499.355,574.617Z" style="fill:white;fill-rule:nonzero;"></path>
              </g>
          </g>
      </svg>
    </div>
  </div>
</nav>
