---
layout: demo
title: Container Demo - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: layouts/container-demo
---

<div class="hx-container doc-container-demo">
  This container is centered on desktop.
</div>
