---
layout: demo
title: Container Demo - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: layouts/fluid-container-demo
---

<div class="hx-container is-fluid doc-container-demo">
  This container is <strong>fluid</strong>: it will have a 20px gap on either side.
</div>
