---
layout: default
title: Sections - Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: layouts/sections
---

<section class="hx-section is-comfortable">
  <h1 class="hx-title">Sections</h1>
  <h2 class="hx-subtitle">A simple container to divide your page into sections, like the one you're currently reading.</h2>
  <hr>
  <p>Simply add <code>.hx-section</code> to divide your page into sections.</p>

  <pre><code class="language-markup"><xmp>
  <body>
    <section class="hx-section">
      <div class="hx-container">
        <h1 class="hx-title">Section</h1>
        <h2 class="hx-subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
      </div>
    </section>
  </body>
  </xmp></code></pre>

  <br>
  <br>
  <h1 class="h3">Modifiers</h1>
  <p>You can use the modifiers <code>.is-comfortable</code> (max-width: 1280px), <code>.is-medium</code> and <code>.is-large</code> to change the spacing.</p>
</section>
