// Display

$displays: "block" "flex" "inline" "inline-block" "inline-flex";

@each $display in $displays {
  .is-#{$display} {
    display: #{$display};
  }

  .is-#{$display}-mobile {
    @include mobile {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-tablet {
    @include tablet {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-desktop {
    @include desktop {
      display: #{$display} !important;
    }
  }

  .is-#{$display}-widescreen {
    @include widescreen {
      display: #{$display} !important;
    }
  }
}

// Float

.is-clearfix {
  @include clearfix;
}

.is-pulled-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

// Overflow

.is-clipped {
  overflow: hidden !important;
}

// Overlay

.is-overlay {
  @include overlay;
}

// Text

.has-text-centered {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

// Visibility

.is-hidden {
  display: none !important;
}

.is-hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.is-hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.is-hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.is-hidden-widescreen {
  @include widescreen {
    display: none !important;
  }
}

// margins & paddings
$unit: 0.25;
@for $i from 0 through 5 {
    .mt-#{$i} { margin-top: 1rem * ($i * $unit) !important; }
    .mr-#{$i} { margin-right: 1rem * ($i * $unit) !important; }
    .mb-#{$i} { margin-bottom: 1rem * ($i * $unit) !important; }
    .ml-#{$i} { margin-left: 1rem * ($i * $unit) !important; }
    .mx-#{$i} { margin-left: 1rem * ($i * $unit) !important; margin-right: 1rem * ($i * $unit) !important; }
    .my-#{$i} { margin-top: 1rem * ($i * $unit) !important; margin-bottom: 1rem * ($i * $unit) !important; }
    .ma-#{$i} { margin: 1rem * ($i * $unit) !important; }

    .pt-#{$i} { padding-top: 1rem * ($i * $unit) !important; }
    .pr-#{$i} { padding-right: 1rem * ($i * $unit) !important; }
    .pb-#{$i} { padding-bottom: 1rem * ($i * $unit) !important; }
    .pl-#{$i} { padding-left: 1rem * ($i * $unit) !important; }
    .px-#{$i} { padding-left: 1rem * ($i * $unit) !important; padding-right: 1rem * ($i * $unit) !important; }
    .py-#{$i} { padding-top: 1rem * ($i * $unit) !important; padding-bottom: 1rem * ($i * $unit) !important; }
    .pa-#{$i} { padding: 1rem * ($i * $unit) !important; }
}


// Other

.is-disabled {
  pointer-events: none;
}

.is-marginless {
  margin: 0 !important;
}

.is-paddingless {
  padding: 0 !important;
}

.is-unselectable {
  @include unselectable;
}
