.scrollable-y{
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable-x{
  overflow-x:auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable{
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}
