.doc {
  &-grid-background {
    background-color: $color-green-light;
    color: $color-white;
    border-radius: 2px;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;

    &.is-info {
      background-color: $color-info;
    }

    &.is-warning {
      background-color: $color-warning;
    }

    &.is-danger {
      background-color: $color-danger;
    }
  }
  &-container-demo {
    background-color: rgba(65, 185, 135, .8);
    color: $color-gray;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;
  }
  &-modal-demo {
    padding: 3rem 2rem;
    background-color: rgba($color-black, 0.86);
    position: relative;
  }
  &-tooltip-demo {
    position: relative;
    display: inline-block;
    margin: 10px 15px;
    opacity: 1;
  }
  &-example {
    padding: 1.5rem;
    border: 3px solid rgba(118, 182, 214, .2);
    position: relative;
    margin: 0 0 2rem 0;
    &.is-dark {
      background: $color-blue;
    }
    &.is-light {
      background: $color-white-bis;
    }
  }

  &-resources {
    a {
      text-decoration: none;
      &:hover {
        .hx-card {
          transform: translateY(-4px);
          box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.2);
        }
      }
    }
    &-heading {
      margin: 0;
    }
    &-body {
      color: $color-gray-light;
      font-size: 0.75rem;
    }
    &-image {
      width: 3.4rem;
      height: 3.4rem;
      margin-right: 1rem;
    }
  }
}

.typography{
  .alignment-container{
    border: 1px solid $color-primary;
    width: 20rem;
  }
}

.welcome {
  margin-bottom: 5rem;
}

.callout {
  display: inline-block;
  padding: 1rem;
  &.is-primary {
    background: $color-primary;
  }
}

.layer {
  margin: 3rem;
}

.hx-sidebar .oi {
  margin-right: 0.2rem;
}


