// =========
// Card
// =========

.#{$namespace}-card-header {
  align-items: stretch;
  box-shadow: 0 1px 0 $border-color;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.#{$namespace}-card-header-title {
  align-items: center;
  color: $text-strong;
  display: flex;
  flex-grow: 1;
  font-weight: $font-weight-bolder;
  padding: 0.75rem;
}

.#{$namespace}-card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}

.#{$namespace}-card-image {
  display: block;
  position: relative;
}

.#{$namespace}-card-content {
  padding: 1.5rem;

  &.has-padding-small {
    padding: .5rem;
  }

  &.has-padding-medium {
    padding: 1rem;
  }

  &.has-padding-large {
    padding: 2.5rem;
  }
}

.#{$namespace}-card-icon {
  & > * {
    padding: .5rem 0 .5rem .8rem;
  }
}

.#{$namespace}-card-footer {
  border-top: 1px solid $border-color;
  align-items: stretch;
  display: flex;
}

.#{$namespace}-card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;

  &:not(:last-child) {
    border-right: 1px solid $border-color;
  }
}

.#{$namespace}-card {
  background-color: $color-white;
  box-shadow: 0 2px 3px rgba($color-black, 0.1), 0 0 0 1px rgba($color-black, 0.1);
  color: $text;
  max-width: 100%;
  position: relative;
  transition: all .2s ease;

  &.is-flat {
    box-shadow: none;
  }

  .media:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  // States
  &.is-hovered {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.2);
  }

  &:focus,
  &.is-focused {
    outline: none;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.2);
  }

  &.is-active {
    transform: scale(1.05);
    box-shadow: 0px 8px 36px rgba($color-black, .3), 0 0 0 1px rgba($color-black, 0.1);
    outline: none;
  }

  &.is-border-highlighted {
    border-left: 5px solid $color-primary;

    &.is-small {
      border-width: 2px;
    }

    &.is-medium {
      border-width: 12px;
    }

    &.is-large {
      border-width: 25px;
    }

    &.is-info {
      border-left: 5px solid $color-info;
    }

    &.is-success {
      border-left: 5px solid $color-success;
    }

    &.is-warning {
      border-left: 5px solid $color-warning;
    }

    &.is-danger {
      border-left: 5px solid $color-danger;
    }

  }



}
