// The dropdown wrapper (`<div>`)
.is-dropup,
.#{$namespace}-dropdown {
  position: relative;
}

.is-dropup {
  .#{$namespace}-btn-dropdown {
    &::after {
      border-top: 0;
      border-bottom: $caret-width solid;
    }
  }
}

.#{$namespace}-dropdown {
  display:inline-block;
}


// The dropdown menu
.#{$namespace}-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0; // override default ul
  font-size: $font-size-base;
  color: $color-gray;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  //@include border-radius($border-radius);
  box-shadow: 0 6px 12px rgba(0,0,0,.145);
}

// Dividers (basically an `<hr>`) within the dropdown
.#{$namespace}-dropdown-divider {
  @include nav-divider($dropdown-divider-bg);
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.#{$namespace}-dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: 3px 14px;
  clear: both;
  font-weight: normal;
  line-height: $line-height;
  color: $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background: none; // For `<button>`s
  border: 0; // For `<button>`s

  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  // Active state
  &.active {
    @include plain-hover-focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      background-color: $dropdown-link-active-bg;
      outline: 0;
    }
  }

  // Disabled state
  //
  // Gray out text and ensure the hover/focus state remains gray
  &.disabled {
    @include plain-hover-focus {
      color: $dropdown-link-disabled-color;
    }

    // Nuke hover/focus effects
    @include hover-focus {
      text-decoration: none;
      cursor: $cursor-disabled;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
      //@include reset-filter();
    }
  }
}

//
// Iconised dropdown item
//
.#{$namespace}-dropdown-icon{

  .#{$namespace}-dropdown-item{
    padding-left:2.4rem;
    position:relative;
  }

  //icons
  i.icon{
    font-size: 1.1rem;
    position: absolute;
    left: .76rem;
    top:.36rem;
  }
}


// Open state for the dropdown
.is-open {
  // Show the menu
  > .#{$namespace}-dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
.is-right {
  .#{$namespace}-dropdown-menu {
    right: 0;
    left: auto;
  }
}

.is-left {
  .#{$namespace}-dropdown-menu {
    right: auto;
    left: 0;
  }
}

// Dropdown section headers
.#{$namespace}-dropdown-header {
  display: block;
  padding: 6px 14px;
  //font-size: $font-size-sm;
  font-size:0.675rem;
  //line-height: $line-height;
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
  text-transform: uppercase;
  font-weight:bold;
}

// Backdrop to catch body clicks on mobile, etc.
.#{$namespace}-dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($zindex-dropdown - 10);
}



// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .syn-dropup after the standard .syn-dropdown class and you're set.

.is-dropup{
  // Reverse the caret
  .caret {
    content: "";
    border-top: 0;
    border-bottom: $caret-width solid;
  }

  // Different positioning for bottom up menu
  .#{$namespace}-dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}
