.hx-icon {
  font-size: 21px;
  width: 1.5rem;
  height: 1.5rem;

  &.is-small {
    font-size: 14px;
    width: 1.5rem;
    height: 1.5rem;
  }

  &.is-medium {
    font-size: 28px;
    width: 2rem;
    height: 2rem;
  }

  &.is-large {
    font-size: 42px;
    width: 3rem;
    height: 3rem;
  }

}
