// LISTS
//

.#{$namespace}-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		& + li {
			margin-top: 0;
		}
		a {
			display: flex;
			min-height: 44px;
			padding: .6rem .8rem;
			line-height: 1.2;
			align-items: center;
			color: $color-black;
			border-bottom: 1px solid rgba(0,0,0,.05);
			cursor: pointer;
			&:hover {
				background-color: rgba(0,0,0,.02);
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	.hx-list-action {
		display: flex;
		align-items: center;
		text-align: center;
		width: 1.8rem;

		.hx-info {
			margin-left: 0;
			cursor: pointer;
    	background-color: rgba(255,255,255,.8);
    	border: 1px solid rgba(0,0,0,.1);
			transition: .3s;
			&:hover {
    		background-color: rgba(0,0,0,.1);
			}
		}

	}
	.hx-list-content {
		display: flex;
		align-items: center;
		flex-grow: 1;

		& + .hx-list-action {
			justify-content: flex-end;
		}
	}
}
