// =========
// Modal
// =========

.#{$namespace}-modal-background {
  @include overlay;

  background-color: rgba($color-black, 0.5);
}

.#{$namespace}-modal-content,
.#{$namespace}-modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;

  // Responsiveness
  @include tablet {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
  }
}

.#{$namespace}-modal-close {
  @include delete;

  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
}

.#{$namespace}-modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
}

.#{$namespace}-modal-card-head,
.#{$namespace}-modal-card-foot {
  align-items: center;
  background-color: $color-white;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.#{$namespace}-modal-card-head {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding: 20px 20px 10px;
}

.#{$namespace}-modal-card-title {
  color: $headings-color;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: $font-size-h5;
  line-height: 1;
  font-weight: 500;
  margin: 0;
}

.#{$namespace}-modal-card-foot {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: 1px solid $border-color;

  .#{$namespace}-button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.#{$namespace}-modal-card-content {
  -webkit-overflow-scrolling: touch;
  background-color: $color-white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 0 20px 20px;
  font-size: $font-size-sm;


}

.#{$namespace}-modal {
  @include overlay;
  @include transition(.2);

  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1986;
  opacity: 0;

  .delete {
    @include delete;
  }

  // Modifiers
  &.is-active {
    @include transition(.2s);
    display: flex;
    opacity: 1;
  }

  &.is-demo {
    position: static;

    .#{$namespace}-modal-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .is-content-overflowed {
    max-height: calc(100% - 1px);
    height: calc(100% - 120px);
    overflow-y: auto;
  }

}
