// =========
// Nav
// =========

.#{$namespace}-nav {
  @extend .hx-flex;
  @extend .hx-flex-align-center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-shrink: 0;

  &.#{$namespace}-nav-vertical, &.is-vertical {
    @extend .hx-flex-column;
    @extend .hx-flex-start;
    max-width: 18em;

    .#{$namespace}-nav-item,
    .#{$namespace}-nav-heading,
    .#{$namespace}-nav-spacer {
      width:100%;
    }

  }

  &.is-left {
    justify-content: flex-start;
  }
  &.is-centered {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }

}


.#{$namespace}-nav-heading{
  text-transform: uppercase;

  h6{
    color:$color-gray-lighter;
    font-weight: normal;
    margin: 1rem 1rem 1rem;
  }
}

.#{$namespace}-nav-item{
  @extend .hx-flex;
  margin-top: 0;
}

.#{$namespace}-nav-link {
  @extend .hx-flex;
  @extend .hx-flex-1;
  @extend .hx-flex-align-center;
  text-decoration: none;
  padding:($spacer/2) $spacer;
  transition: all .2s ease-in-out;
  color:$nav-link-color;
  font-size: $nav-link-font-size;
  font-weight: $nav-link-font-weight;
  border-radius: 2rem;

  @include hover-focus {
    text-decoration: none;
    // background-color: $nav-link-hover-color;
    color:$nav-link-active-color;

    i.icon{
      color: $nav-link-active-color;
    }
  }

  // span:first-of-type{
  //   padding-left:$spacer/2;
  // }

  &.is-active{
    background-color: rgba(0,0,0,.04);
    color: $nav-link-active-color;
    // border: 1px solid $color-gray-lighter;

    i.icon{
      color: $nav-link-active-color;
    }
  }

  // Disabled state lightens text and removes hover/tab effects
  &.is-disabled {
    opacity: .3;
    // color: $nav-disabled-link-color;

    @include plain-hover-focus {
      // color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: transparent;
    }
  }


  i.icon{
    font-size: 1.5rem;
    color:$color-gray-light;
    margin:0 ($spacer/2) 0 ($spacer/2);
  }

}

.#{$namespace}-nav-brand {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0rem .75rem .25rem;
  margin-bottom: .5rem;
  > svg, img , a, .icon {
    max-width: 5rem;
    margin: 0 auto 1rem;
  }
}

// minified behaviour
.is-minified{
  .#{$namespace}-nav-item{
    @extend .hx-flex;
    @extend .hx-flex-justify-center;
    margin:$spacer/3 0;
  }
  .#{$namespace}-nav-brand {
    margin-bottom: .5rem;
    > svg, img, a, .icon {
      max-width: 2rem;
    }
  }
  .#{$namespace}-nav-link{
    @extend .hx-flex;
    @extend .hx-flex-justify-center;
    @include border-radius(50%);
    max-width:40px;
    span{
      display: none;
    }
    &.is-active{
      background-color:$nav-link-active-color;
      color:#fff;

      i.icon{
        color: #fff;
      }
    }
  }
  .#{$namespace}-nav-heading{
    text-align: center;
  }
}


//themed
.has-blue-gradient,
.has-purple-gradient,
.has-orange-gradient{

  .#{$namespace}-nav-link{
    color:#fff;

    i.icon{
      color:#fff;
    }

    @include hover-focus {
      background-color: rgba(0,0,0,0.5);
      color:#fff;

      i.icon{
        color: #fff;
      }
    }

    &.is-active{
      background-color:rgba(0,0,0,0.5);
      color:#fff;

      i.icon{
        color: #fff;
      }
    }
  }
}
