// Progress Timeline

.#{$namespace}-progress-timeline-status {
  position: relative;

  .#{$namespace}-marker {
    width: 15px;
    height: 15px;
    position: relative;
    border-radius: 100%;
    background: #d8dde6;
    border: 4px solid transparent;
    vertical-align: middle;
    display: inline-block;
    margin-right: .4rem;
    transition: all .2s ease-in-out;
    bottom: 1px;
    text-align: center;
    color: $color-white;

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 9px rgba(0,0,0, .2);
    }

    &.is-success {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      width: 15px;
      height: 15px;
      transition: all .3s ease-in-out;
    }

    &.is-danger {
      border: 4px solid $color-red-light;
      width: 15px;
      height: 15px;
      background: transparent;
      transition: all .3s ease-in-out;
    }

    &.is-warning {
      border: 4px solid $color-warning;
      width: 15px;
      height: 15px;
      background: transparent;
      transition: all .3s ease-in-out;
    }

    &.is-animated {
      animation: pulse 1.2s alternate infinite;
      border: 0;
      width: 15px;
      height: 15px;

      .icon {
        left: -3px;
      }
    }

    .icon {
      font-size: 1.3rem;
      position: relative;
      width: auto;
      height: auto;
      left: -4px;
      top: -3px;
      color: $color-white;
    }

  }

  .#{$namespace}-popover {
    background: $color-white;
    border: 1px solid $color-gray-lightest;
    box-shadow: 3px 8px 9px 0 rgba(0,0,0, 0.08);
    border-radius: 5px;
    position: absolute;
    min-width: 320px;
    margin: 2px 0 0;
    padding: 2rem 2rem 0 2rem;
    z-index: 9;
    right: -410%;
    opacity: 0.01;
    transition: all .3s ease;
    max-height: 200px;
    transform: translateY(-5px);
    overflow: hidden;

    &.is-opened {
      display: block;
      opacity: 1;
      transition: all .2s ease-in-out;
      transform: translateY(5px);
      max-height: 500px;
      overflow-y: scroll;
    }
  }
}

.#{$namespace}-progress-timeline {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    margin: .9rem 0 .3rem 0;
    padding: 0;
  }

  .#{$namespace}-item {
    position: relative;
    padding: 0 0 12px;
    list-style: none;
    margin: 0;
    transition: all .4s ease-in-out;
    z-index: 1;

    &:after {
      position: absolute;
      left: 5px;
      top: 0;
      height: 100%;
      border-left: 2px solid $progress-timeline-tail-color;
      transition: all .4s ease-in-out;
      content: '';
      z-index: -1;
    }

    &.is-success {
      .hx-head {
        background-color: $color-primary;
      }
      .hx-tail {
        border-color: $color-primary;
      }
    }

    &.is-next {
      .hx-head {
        border-color: $color-primary;
        background-color: $color-white;
      }
    }

    &.is-warning {
      .hx-head {
        border-color: $color-warning;
        background-color: $color-white;
      }
      strong {
        font-weight: bold;
        color: $color-warning;
      }
    }

    &.is-danger {
      .hx-head {
        border-color: $color-red-light;
        background-color: $color-white;
      }
      strong {
        font-weight: bold;
        color: $color-red-light;
      }
    }
  }

  .#{$namespace}-head {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $progress-timeline-head-color;
    border-radius: 100px;
    border: 3px solid transparent;
    transition: all .4s ease-in-out;

    .icon {
      font-size: 1rem;
      position: relative;
      width: auto;
      height: auto;
      left: -5px;
      top: -6px;
      color: $color-white;
    }
  }

  .#{$namespace}-content {
    padding: 0 0 10px 24px;
    font-size: 13px;
    position: relative;
    top: -3px;
    color: $color-gray-light;

    strong {
      color: $color-gray-dark;
    }

    small {
      margin-bottom: .8rem;
    }

    .icon {
      font-size: $font-size-sm;
      display: inline-block;
      width: auto;
      height: auto;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    background: rgba(65,186,137,.8);
    box-shadow: inset 0px 0px 8px 2px rgba(65,186,137,0.8),
                      0px 0px 5px 2px rgba(65,186,137,0.5);
  }
  100% {
    background: rgba(65,186,137,1);
    box-shadow: inset 0px 0px 6px 2px rgba(65,186,137,0.4),
                      0px 0px 15px 3px rgba(65,186,137, .8);
  }
}
