//
// Tabbable tabs
//
.#{$namespace}-nav-tabs {
  border-bottom: 1px solid rgba(0,0,0,.1);
  .hx-nav-link{
    border-bottom: 1px solid transparent;
    border-radius: 0;
    transition: .3s;

    &:hover {
      box-shadow: 0 1px 0 0 $color-gray-lighter;
    }

    &.is-active {
      background-color: transparent;
      box-shadow: 0 1px 0 0 $color-green-light;
      border-bottom: 1px solid $color-green-light;
    }

  }
}
// Hide tabbable panes to start, show them when `.is-active`
.#{$namespace}-tab-content {
  padding:$spacer;

  > .hx-tab-pane {
    display: none;
  }
  > .is-active {
    display: block;
  }
}
