// =========
// Toggle
// =========

.#{$namespace}-toggle,
.#{$namespace}-toggle * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  margin: .7rem 0;
}

.#{$namespace}-toggle label {
  cursor: pointer;
  font-size: .8rem;
}

.#{$namespace}-toggle label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .lever {
    background-color: $color-primary;

    &:after {
      background-color: $color-white;
      left: 21px;
    }
  }
}

.#{$namespace}-toggle label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 35px;
  height: 15px;
  background-color: $color-gray-light;
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: $color-gray-lightest;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
  }
}

// Switch active style
input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(65, 185, 135, .2);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:after,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::after {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(0, 0, 0, .08);
}

// Disabled Styles
.#{$namespace}-toggle input[type=checkbox][disabled] + .lever {
  cursor: $cursor-disabled;
  background-color: darken($color-gray-lightest, 10);
}

.#{$namespace}-toggle label input[type=checkbox][disabled] + .lever:after,
.#{$namespace}-toggle label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: darken($color-gray-lightest, 2);
  cursor: $cursor-disabled;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0,.2);
}
