// =========
// Tooltips
// =========

.#{$namespace}-tooltip {
  @include transition(.15s);
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: .875rem;
  word-wrap: break-word;
  opacity: 0;

  .#{$namespace}-tooltip-content {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: $color-blue;
    border-radius: .25rem;

    &::before {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }

  &.is-top {
    .#{$namespace}-tooltip-content {
      &::before {
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
        content: '';
        border-width: 5px 5px 0;
        border-top-color: $color-blue;
      }
    }
  }

  &.is-right {
    .#{$namespace}-tooltip-content {
      &::before {
        top: 50%;
        left: -5px;
        margin-top: -5px;
        content: "";
        border-width: 5px 5px 5px 0;
        border-right-color: $color-blue;
        border-top-color: transparent;
      }
    }
  }

  &.is-bottom {
    .#{$namespace}-tooltip-content {
      &::before {
        top: -5px;
        left: 50%;
        margin-left: -5px;
        content: "";
        border-width: 0 5px 5px;
        border-bottom-color: $color-blue;
      }
    }
  }

  &.is-left {
    .#{$namespace}-tooltip-content {
      &::before {
        top: 50%;
        right: -5px;
        margin-top: -5px;
        content: "";
        border-width: 5px 0 5px 5px;
        border-left-color: $color-blue;
      }
    }
  }

  &.is-active {
    opacity:1;
  }
}
