// =========
// Code
// =========

code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

code {
  @include border-radius($border-radius);
  padding: $code-padding-y $code-padding-x;
  font-size: $code-font-size;
  color: $code-color;
  background-color: $code-bg;

  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

kbd {
  @include border-radius($border-radius-sm);
  @include box-shadow($kbd-box-shadow);
  padding: $code-padding-y $code-padding-x;
  font-size: $code-font-size;
  color: $kbd-color;
  background-color: $kbd-bg;

  kbd {
    @include box-shadow(none);
    padding: 0;
    font-size: 100%;
    font-weight: $kbd-nested-font-weight;
  }
}

pre {
  display: block;
  margin: $pre-margin;
  font-size: $code-font-size;
  color: $pre-color;
  max-height: 38rem;
  border-radius: 0 !important;
  overflow: scroll;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

.#{$namespace}-pre-is-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}

.#{$namespace}-code {
  max-height: 38rem;
  transition: .5s ease-in-out;
  overflow: auto;
}
// slideToggle
.slide-enter-active, .slide-leave-active {
  max-height: 38rem;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  max-height: 0
}
