
.#{$namespace}-table {
  background-color: $table-background;
  color: $table;
  margin-bottom: 1.5rem;
  width: 100%;

  thead {
    th {
      vertical-align: bottom;
      border: 1px solid $color-gray-lighter;
      border-width: 0 0 1px;
      color: $table-head;
      font-weight: $font-weight-normal;
    }
  }

  tfoot {
    td,
    th {
      vertical-align: top;
      border: 1px solid $color-gray-lighter;
      border-width: 1px 0 0;
      color: $table-head;
      font-weight: $font-weight-normal;
    }
  }

  td,
  th {
    border: 1px solid transparent;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
    font-weight: $font-weight-normal;
    @include transition (.3s);
    strong {
      font-weight: $font-weight-bolder;
    }

    // Modifiers
    &.is-narrow {
      white-space: nowrap;
      width: 1%;
    }
  }

  th {
    padding: 0.6em 0.75em;
  }

  tr {
    &.is-selected, &.is-selected:hover {
      th, td {
        background-color: $color-primary;
        border-bottom-color: transparent;
      }
      th, td, th a, td a, {
        color: $color-white;
      }
    }
    &:hover {
      th, td {
        background-color: $table-row-hover-background;
      }
    }
  }

  tbody {
    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 0;
          color: $text;
        }
      }
    }
  }

  // Modifiers
  // &.is-bordered {
  //   border: 1px solid $table-border;
  //   td,
  //   th {
  //     border-width: 0 1px 1px 0;
  //     &:last-child {
  //       border-right-width: 0;
  //     }
  //   }
  //   thead {
  //     td,
  //     th {
  //       border-bottom-width: 2px;
  //     }
  //   }
  // }

  &.is-narrow {
    td {
      padding: 0.25em 0.5em;
    }
    th {
      padding: 0.3em 0.5em;
    }
  }

  &.is-striped {
    tbody {
      tr {
        &:nth-child(odd) {
          th, td {
            background-color: $table-row-odd-background;
          }

          &:hover {
            th, td {
              background-color: $table-row-odd-hover-background;
            }
          }
        }
      }
    }
  }
}
