// =========
// Container
// =========

.#{$namespace}-container {
  @include desktop {
    margin: 0 auto;
    width: $desktop - 40px;

    // Modifiers
    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include widescreen {
    width: $widescreen - 40px;
  }

  @include fullhd {
    width: $fullhd - 40px;
  }
  position: relative;
}
