// =========
// Field Container
// .hx-field element is the block container for .hx-control elements
// =========

.#{$namespace}-field {
  &:not(:last-child) {
    margin-bottom: .75rem;
  }

  // For element grouping such as button group
  &.is-grouped {
    display: flex;
    justify-content: flex-start;

    & > .#{$namespace}-control {
      flex-shrink: 0;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: .75rem;
      }

      &.is-expanded {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }

    // Center the group
    &.is-grouped-centered {
      justify-content: center;
    }

    // Right aligh the group
    &.is-grouped-right {
      justify-content: flex-end;
    }

  }

  // button group with addons
  &.has-addons {
    display: flex;
    justify-content: flex-start;

    .#{$namespace}-control {
      margin-right: -1px;

      &:first-child .#{$namespace}-button,
      .#{$namespace}-input,
      .#{$namespace}-select select {
        border-bottom-left-radius: .3rem;
        border-top-left-radius: .3rem;
      }

      &:last-child .#{$namespace}-button,
      .#{$namespace}-input,
      .#{$namespace}-select select {
        border-bottom-right-radius: .3rem;
        border-top-right-radius: .3rem;
      }

      // buttons, input or select in middle
      .#{$namespace}-button,
      .#{$namespace}-input,
      .#{$namespace}-select select {
        border-radius: 0;
        padding-left: 1.15rem;
        padding-right: 1.15rem;

        &:hover,
        &.is-hovered {
          z-index: 2;
        }

        &:focus,
        &.is-focused,
        &:active,
        &.is-active {
          z-index: 3;

          &:hover {
            z-index: 4;
          }
        }
      }

      .#{$namespace}-dropdown {
        display: flex;
      }

      &.is-expanded {
        flex-grow: 1;
      }

    }

    // center addons
    &.has-addons-centered {
      justify-content: center;
    }

    // right align addons
    &.has-addons-right {
      justify-content: flex-end;
    }

    // full width addons
    &.has-addons-fullwidth  {
      .#{$namespace}-control {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }

  }
}
