// =========
// Page
// =========

.#{$namespace}-page{
  @extend .hx-flex;
  @extend .hx-flex-column;
  height:100vh;
  width:100vw;

  &-header{
    width:100%;
    min-height:1rem;
    background:transparent;
  }

  &-body{
    @extend .hx-flex;
    @extend .hx-flex-1;
    @extend .hx-flex-align-self-stretch;
  }

  .block {
  @include block;
}

  &.has-blue-gradient{
    @include radial-gradient(top, $color-green-light, $color-blue);
    color:#fff;
  }

  &.has-orange-gradient{
    @include radial-gradient(top, $color-yellow-light, $color-orange);
  }

  &.has-purple-gradient{
    @include radial-gradient(top, $color-red-light, $color-purple);
  }
}
