$sidebar-nav-hover-color: colour-gray-light;

.#{$namespace}-sidebar{
  min-width:17rem;
  background-color: #fff;
  padding:$spacer 0;
  display: inline-flex;
  flex-direction: column;

  .#{$namespace}-nav-vertical {
    .#{$namespace}-nav-item {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &.is-medium-width {
    min-width: 15rem;
  }

  &.is-scrollable {
    overflow: scroll;
  }

  &.is-minified{
    min-width:($spacer * 3.5);
    .#{$namespace}-nav-vertical {
      .#{$namespace}-nav-item {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
  }

  &.has-blue-gradient{
    @include radial-gradient(top, $color-green-light, $color-blue);
    color:#fff;

    hr{
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
  }

  &.has-orange-gradient{
    @include radial-gradient(top, $color-yellow-light, $color-orange);
    color:#fff;

    hr{
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
  }

  &.has-purple-gradient{
    @include radial-gradient(top, $color-red-light, $color-purple);
    color:#fff;

    hr{
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
  }
}
