---
layout: default
title: Helix Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: /
---
<section class="hx-section is-comfortable">
  <div class="hx-columns">
    <div class="hx-column welcome">
      <h1>Welcome to HxUI</h1>
      <p class="hx-subtitle">HxUI is Helix Experience UI library for creating websites and Apps</p>
      <p>HxUI includes the resources to create user interfaces consistent with the Helix design principles, design language, and best practices. Rather than focusing on pixels, developers can focus on application logic, while designers can focus on user experience, interactions, and flows.</p>
    </div>
    <div class="hx-column">
      <div class="layer">
        <svg width="208px" height="201px" viewBox="0 0 208 201" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="design-layers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="design-development-layers" transform="translate(0.516129, 0.000000)">
                    <g id="Proximo">
                        <g id="XMLID_235_">
                            <g id="XMLID_234_" transform="translate(3.241935, 87.532258)" fill="#54FEBD">
                                <polygon id="Shape" points="100.5 97.2580645 0 48.6290323 100.5 0 201 48.6290323"></polygon>
                            </g>
                            <g id="XMLID_1961_" transform="translate(0.000000, 129.435484)" fill="#1D1B4C">
                                <path d="M103.741935,71.5645161 C103.257558,71.5645161 102.776325,71.4568839 102.32991,71.2415869 L1.82991048,22.6125547 C0.712350484,22.0695953 0,20.9361823 0,19.6935484 C0,18.4509145 0.709173387,17.3175015 1.82991048,16.7761306 L35.3193634,0.566453226 C36.9435082,-0.218711129 38.8715521,0.461965645 39.6503947,2.07187839 C40.4292048,3.68334726 39.7548823,5.62247855 38.1434134,6.40132113 L10.6850952,19.6935484 L103.741935,64.721309 L196.798776,19.6935484 L169.340458,6.40128871 C167.728989,5.62247855 167.054634,3.68331484 167.833476,2.07184597 C168.612286,0.461965645 170.54354,-0.218711129 172.164508,0.566420806 L205.65396,16.7760982 C206.774698,17.3175015 207.483871,18.4509145 207.483871,19.6935484 C207.483871,20.9361823 206.77152,22.0695953 205.65396,22.6125547 L105.15396,71.2415869 C104.707546,71.4568839 104.226313,71.5645161 103.741935,71.5645161 L103.741935,71.5645161 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1960_" transform="translate(0.000000, 97.016129)" fill="#1D1B4C">
                                <path d="M103.741935,71.5645161 C103.257558,71.5645161 102.776325,71.4568839 102.32991,71.2415869 L1.82991048,22.6125547 C0.712350484,22.0695953 0,20.9361823 0,19.6935484 C0,18.4509145 0.709173387,17.3175015 1.82991048,16.7761306 L35.3193634,0.566453226 C36.9435082,-0.220299677 38.8715521,0.463554194 39.6503947,2.07187839 C40.4292048,3.68334726 39.7548823,5.62247855 38.1434134,6.40132113 L10.6850952,19.6935484 L103.741935,64.721309 L196.798776,19.6935484 L169.340458,6.40128871 C167.728989,5.62247855 167.054634,3.68331484 167.833476,2.07184597 C168.612286,0.463554194 170.54354,-0.220299677 172.164508,0.566420806 L205.65396,16.7760982 C206.774698,17.3175015 207.483871,18.4509145 207.483871,19.6935484 C207.483871,20.9361823 206.77152,22.0695953 205.65396,22.6125547 L105.15396,71.2415869 C104.707546,71.4568839 104.226313,71.5645161 103.741935,71.5645161 L103.741935,71.5645161 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1959_" transform="translate(0.000000, 63.838710)" fill="#1D1B4C">
                                <path d="M103.741935,72.3225806 C103.257558,72.3225806 102.776325,72.2149484 102.32991,71.9996515 L1.82991048,23.3706192 C0.712350484,22.8276598 0,21.6942468 0,20.4516129 C0,19.208979 0.709173387,18.075566 1.82991048,17.5341952 L35.3193634,1.32451774 C36.9435082,0.540941935 38.8715521,1.22320726 39.6503947,2.8299429 C40.4292048,4.44141177 39.7548823,6.38054306 38.1434134,7.15938565 L10.6850952,20.4516129 L103.741935,65.4793735 L196.798776,20.4516129 L169.340458,7.15935323 C167.728989,6.38054306 167.054634,4.44137935 167.833476,2.82991048 C168.612286,1.22317484 170.54354,0.540941935 172.164508,1.32448532 L205.65396,17.5341627 C206.774698,18.075566 207.483871,19.208979 207.483871,20.4516129 C207.483871,21.6942468 206.77152,22.8276598 205.65396,23.3706192 L105.15396,71.9996515 C104.707546,72.2149484 104.226313,72.3225806 103.741935,72.3225806 L103.741935,72.3225806 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1958_" fill="#1D1B4C">
                                <path d="M103.741935,103.741935 C103.257558,103.741935 102.776325,103.634303 102.32991,103.419006 L1.82991048,54.789974 C0.712350484,54.2470147 0,53.1136016 0,51.8709677 C0,50.6283339 0.712350484,49.4949208 1.82991048,48.9519615 L102.32991,0.322929194 C103.222707,-0.107632258 104.261131,-0.107632258 105.153928,0.322929194 L205.653928,48.9519615 C206.77152,49.4949208 207.483871,50.6283339 207.483871,51.8709677 C207.483871,53.1136016 206.77152,54.2470147 205.65396,54.789974 L105.15396,103.419006 C104.707546,103.634303 104.226313,103.741935 103.741935,103.741935 L103.741935,103.741935 Z M10.6850952,51.8709677 L103.741935,96.8987284 L196.798776,51.8709677 L103.741935,6.8432071 L10.6850952,51.8709677 L10.6850952,51.8709677 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1957_" transform="translate(100.500000, 48.629032)" fill="#1D1B4C">
                                <path d="M3.24193548,6.48387097 C2.3997779,6.48387097 1.55447565,6.12612339 0.940290968,5.54358 C0.354602903,4.92780677 0,4.08409306 0,3.24193548 C0,2.39822177 0.354602903,1.55606419 0.940290968,0.940290968 C2.14019613,-0.259614194 4.34367484,-0.259614194 5.54358,0.940290968 C6.12612339,1.55606419 6.48387097,2.39822177 6.48387097,3.24193548 C6.48387097,4.08409306 6.12612339,4.92780677 5.54358,5.54358 C4.92621823,6.12612339 4.08409306,6.48387097 3.24193548,6.48387097 L3.24193548,6.48387097 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1956_" transform="translate(113.467742, 48.629032)" fill="#1D1B4C">
                                <path d="M3.24193548,6.48387097 C2.3997779,6.48387097 1.55447565,6.12612339 0.940290968,5.54358 C0.354602903,4.92780677 0,4.08409306 0,3.24193548 C0,2.39822177 0.354602903,1.55606419 0.940290968,0.940290968 C2.14019613,-0.259614194 4.34367484,-0.259614194 5.54358,0.940290968 C6.12612339,1.55606419 6.48387097,2.39822177 6.48387097,3.24193548 C6.48387097,4.08409306 6.12612339,4.92780677 5.54358,5.54358 C4.92621823,6.12612339 4.11573435,6.48387097 3.24193548,6.48387097 L3.24193548,6.48387097 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1955_" transform="translate(126.435484, 48.629032)" fill="#1D1B4C">
                                <path d="M3.24193548,6.48387097 C2.3997779,6.48387097 1.55447565,6.12612339 0.940290968,5.54358 C0.354602903,4.92780677 0,4.08409306 0,3.24193548 C0,2.39822177 0.354602903,1.55606419 0.940290968,0.940290968 C2.14019613,-0.259614194 4.34367484,-0.259614194 5.54358,0.940290968 C6.12612339,1.55606419 6.48387097,2.39822177 6.48387097,3.24193548 C6.48387097,4.08409306 6.12612339,4.92780677 5.51193871,5.54358 C4.92621823,6.12612339 4.08409306,6.48387097 3.24193548,6.48387097 L3.24193548,6.48387097 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1954_" transform="translate(74.564516, 48.629032)" fill="#1D1B4C">
                                <path d="M3.24193548,6.48387097 C2.3997779,6.48387097 1.55447565,6.12612339 0.940290968,5.54358 C0.354602903,4.92780677 0,4.1173229 0,3.24193548 C0,2.36654806 0.354602903,1.55606419 0.940290968,0.940290968 C2.14019613,-0.259614194 4.31203355,-0.259614194 5.54358,0.940290968 C6.12612339,1.55606419 6.48387097,2.39822177 6.48387097,3.24193548 C6.48387097,4.08409306 6.12612339,4.92780677 5.54358,5.54358 C4.92621823,6.12612339 4.08409306,6.48387097 3.24193548,6.48387097 L3.24193548,6.48387097 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1953_" transform="translate(87.532258, 48.629032)" fill="#1D1B4C">
                                <path d="M3.24193548,6.48387097 C2.3997779,6.48387097 1.55447565,6.12612339 0.940290968,5.54358 C0.354602903,4.92780677 0,4.08409306 0,3.24193548 C0,2.39822177 0.354602903,1.55606419 0.940290968,0.940290968 C2.14019613,-0.259614194 4.34367484,-0.259614194 5.54358,0.940290968 C6.12612339,1.55606419 6.48387097,2.39822177 6.48387097,3.24193548 C6.48387097,4.08409306 6.12612339,4.92780677 5.54358,5.54358 C4.92621823,6.12612339 4.08409306,6.48387097 3.24193548,6.48387097 L3.24193548,6.48387097 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="hx-columns">
    <div class="hx-column">
      <div class="developer">
        <svg width="64px" height="50px" viewBox="0 0 64 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="icon-developer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="design-development-web-page-code-copy">
                    <g id="Proximo">
                        <g id="XMLID_662_">
                            <g id="XMLID_588_" transform="translate(33.000000, 17.000000)" fill="#54FEBD">
                                <path d="M0.99902,24 C0.81543,24 0.62939,23.94922 0.46289,23.84375 C-0.00293,23.54687 -0.14014,22.92871 0.15625,22.46289 L14.15625,0.46289 C14.45313,-0.00195 15.0708,-0.13867 15.53711,0.15625 C16.00293,0.45313 16.14014,1.07129 15.84375,1.53711 L1.84375,23.53711 C1.65283,23.83594 1.32959,24 0.99902,24 L0.99902,24 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_582_" transform="translate(21.000000, 22.000000)" fill="#54FEBD">
                                <path d="M10.99902,14 C10.82373,14 10.64648,13.9541 10.48535,13.85742 L0.48535,7.85742 C0.18408,7.67676 0,7.35156 0,7 C0,6.64844 0.18408,6.32324 0.48535,6.14258 L10.48535,0.14258 C10.95947,-0.14062 11.57373,0.01172 11.85742,0.48535 C12.1416,0.95898 11.98828,1.57324 11.51465,1.85742 L2.94385,7 L11.51465,12.14258 C11.98828,12.42676 12.1416,13.04102 11.85742,13.51465 C11.66992,13.82715 11.33887,14 10.99902,14 L10.99902,14 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_581_" transform="translate(49.000000, 22.000000)" fill="#54FEBD">
                                <path d="M1.00098,14 C0.66114,14 0.33008,13.82715 0.14258,13.51465 C-0.1416,13.04102 0.01172,12.42676 0.48535,12.14258 L9.05615,7 L0.48535,1.85742 C0.01172,1.57324 -0.1416,0.95898 0.14258,0.48535 C0.42676,0.01172 1.04004,-0.1416 1.51465,0.14258 L11.51465,6.14258 C11.81592,6.32324 12,6.64844 12,7 C12,7.35156 11.81592,7.67676 11.51465,7.85742 L1.51465,13.85742 C1.35352,13.9541 1.17627,14 1.00098,14 L1.00098,14 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_732_" transform="translate(1.000000, 3.000000)" fill="#54FEBD">
                                <rect id="Rectangle-path" x="0" y="0" width="62" height="8"></rect>
                            </g>
                            <g id="XMLID_2061_" fill="#1D1B4C">
                                <path d="M63,50 L1,50 C0.44775,50 0,49.55273 0,49 L0,1 C0,0.44727 0.44775,0 1,0 L63,0 C63.55225,0 64,0.44727 64,1 L64,49 C64,49.55273 63.55225,50 63,50 L63,50 Z M2,48 L62,48 L62,2 L2,2 L2,48 L2,48 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2060_" transform="translate(0.000000, 8.000000)" fill="#1D1B4C">
                                <path d="M63,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L63,0 C63.55225,0 64,0.44727 64,1 C64,1.55273 63.55225,2 63,2 L63,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2059_" transform="translate(50.000000, 4.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2058_" transform="translate(54.000000, 4.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.72998,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.27002,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2057_" transform="translate(58.000000, 4.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2056_" transform="translate(31.000000, 17.000000)" fill="#1D1B4C">
                                <path d="M0.99902,24 C0.81543,24 0.62939,23.94922 0.46289,23.84375 C-0.00293,23.54687 -0.14014,22.92871 0.15625,22.46289 L14.15625,0.46289 C14.45264,-0.00195 15.07031,-0.13867 15.53711,0.15625 C16.00293,0.45313 16.14014,1.07129 15.84375,1.53711 L1.84375,23.53711 C1.65283,23.83594 1.32959,24 0.99902,24 L0.99902,24 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2055_" transform="translate(19.000000, 22.000000)" fill="#1D1B4C">
                                <path d="M10.99902,14 C10.82373,14 10.64648,13.9541 10.48535,13.85742 L0.48535,7.85742 C0.18408,7.67676 0,7.35156 0,7 C0,6.64844 0.18408,6.32324 0.48535,6.14258 L10.48535,0.14258 C10.95947,-0.14062 11.57324,0.01172 11.85742,0.48535 C12.1416,0.95898 11.98828,1.57324 11.51465,1.85742 L2.94385,7 L11.51465,12.14258 C11.98828,12.42676 12.1416,13.04102 11.85742,13.51465 C11.66992,13.82715 11.33887,14 10.99902,14 L10.99902,14 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2054_" transform="translate(47.000000, 22.000000)" fill="#1D1B4C">
                                <path d="M1.00098,14 C0.66114,14 0.33008,13.82715 0.14258,13.51465 C-0.1416,13.04102 0.01172,12.42676 0.48535,12.14258 L9.05615,7 L0.48535,1.85742 C0.01172,1.57324 -0.1416,0.95898 0.14258,0.48535 C0.42676,0.01172 1.04004,-0.1416 1.51465,0.14258 L11.51465,6.14258 C11.81592,6.32324 12,6.64844 12,7 C12,7.35156 11.81592,7.67676 11.51465,7.85742 L1.51465,13.85742 C1.35352,13.9541 1.17627,14 1.00098,14 L1.00098,14 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2051_" transform="translate(46.000000, 0.000000)" fill="#1D1B4C">
                                <path d="M1,10 C0.44775,10 0,9.55273 0,9 L0,1 C0,0.44727 0.44775,0 1,0 C1.55225,0 2,0.44727 2,1 L2,9 C2,9.55273 1.55225,10 1,10 L1,10 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2050_" transform="translate(5.000000, 14.000000)" fill="#1D1B4C">
                                <path d="M5,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L5,0 C5.55225,0 6,0.44727 6,1 C6,1.55273 5.55225,2 5,2 L5,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2049_" transform="translate(5.000000, 18.000000)" fill="#1D1B4C">
                                <path d="M4,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L4,0 C4.55225,0 5,0.44727 5,1 C5,1.55273 4.55225,2 4,2 L4,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2048_" transform="translate(5.000000, 22.000000)" fill="#1D1B4C">
                                <path d="M5,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L5,0 C5.55225,0 6,0.44727 6,1 C6,1.55273 5.55225,2 5,2 L5,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2047_" transform="translate(5.000000, 26.000000)" fill="#1D1B4C">
                                <path d="M4,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L4,0 C4.55225,0 5,0.44727 5,1 C5,1.55273 4.55225,2 4,2 L4,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2046_" transform="translate(5.000000, 30.000000)" fill="#1D1B4C">
                                <path d="M5,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L5,0 C5.55225,0 6,0.44727 6,1 C6,1.55273 5.55225,2 5,2 L5,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2045_" transform="translate(5.000000, 34.000000)" fill="#1D1B4C">
                                <path d="M4,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L4,0 C4.55225,0 5,0.44727 5,1 C5,1.55273 4.55225,2 4,2 L4,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2044_" transform="translate(5.000000, 38.000000)" fill="#1D1B4C">
                                <path d="M5,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L5,0 C5.55225,0 6,0.44727 6,1 C6,1.55273 5.55225,2 5,2 L5,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2043_" transform="translate(5.000000, 42.000000)" fill="#1D1B4C">
                                <path d="M5,2 L1,2 C0.44775,2 0,1.55273 0,1 C0,0.44727 0.44775,0 1,0 L5,0 C5.55225,0 6,0.44727 6,1 C6,1.55273 5.55225,2 5,2 L5,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_2042_" transform="translate(14.000000, 8.000000)" fill="#1D1B4C">
                                <path d="M1,42 C0.44775,42 0,41.55273 0,41 L0,1 C0,0.44727 0.44775,0 1,0 C1.55225,0 2,0.44727 2,1 L2,41 C2,41.55273 1.55225,42 1,42 L1,42 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div>
      <h2 class="h4">Developers</h2>
      <p class="hx-subtitle">Familiarize yourself with the following:</p>
      <ol>
        <li>Get an overview of our Markup and Style guidelines including the class naming conventions used in our CSS.</li>
        <li>Review the Components; each component provides semantically correct and accessible markup and documentation.</li>
      </ol>
    </div>
    <div class="hx-column">
      <div class="designer">
        <svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="icon-designer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="design-development-ruler-pencil-tools-copy">
                    <g id="Proximo">
                        <g id="XMLID_1690_">
                            <g id="XMLID_1326_" transform="translate(0.000000, 5.000000)" fill="#54FEBD">
                                <path d="M14.03229,4.6774 L10.44939,1.0945 C8.99,-0.3648 6.62319,-0.3648 5.15449,1.0945 L1.09449,5.1545 C-0.36481,6.6232 -0.36481,8.99 1.09449,10.4494 L4.67739,14.0323 L45.83869,55.1935 L58,58 L55.19349,45.8387 L14.03229,4.6774 L14.03229,4.6774 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1190_" transform="translate(0.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M11,33 C10.74414,33 10.48828,32.90234 10.29297,32.70703 L0.29297,22.70703 C-0.09766,22.3164 -0.09766,21.68359 0.29297,21.29297 L21.29297,0.29297 C21.6836,-0.09766 22.31641,-0.09766 22.70703,0.29297 C23.09765,0.6836 23.09766,1.31641 22.70703,1.70703 L2.41406,22 L11,30.58594 L31.29297,10.29297 C31.6836,9.90234 32.31641,9.90234 32.70703,10.29297 C33.09765,10.6836 33.09766,11.31641 32.70703,11.70703 L11.70703,32.70703 C11.51172,32.90234 11.25586,33 11,33 L11,33 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1189_" transform="translate(31.000000, 0.000000)" fill="#1D1B4C">
                                <path d="M11,33 C10.74414,33 10.48828,32.90234 10.29297,32.70703 C9.90234,32.3164 9.90234,31.68359 10.29297,31.29297 L30.58594,11 L22,2.41406 L1.70703,22.70703 C1.3164,23.09766 0.68359,23.09766 0.29297,22.70703 C-0.09765,22.3164 -0.09766,21.68359 0.29297,21.29297 L21.29297,0.29297 C21.6836,-0.09766 22.31641,-0.09766 22.70703,0.29297 L32.70703,10.29297 C33.09766,10.6836 33.09766,11.31641 32.70703,11.70703 L11.70703,32.70703 C11.51172,32.90234 11.25586,33 11,33 L11,33 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1136_" transform="translate(5.000000, 5.000000)" fill="#1D1B4C">
                                <path d="M1,12 C0.74414,12 0.48828,11.90234 0.29297,11.70703 C-0.09766,11.3164 -0.09766,10.68359 0.29297,10.29297 L10.29297,0.29297 C10.6836,-0.09766 11.31641,-0.09766 11.70703,0.29297 C12.09765,0.6836 12.09766,1.31641 11.70703,1.70703 L1.70703,11.70703 C1.51172,11.90234 1.25586,12 1,12 L1,12 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1054_" fill="#1D1B4C">
                                <path d="M63,64 C62.92529,64 62.84961,63.99121 62.7749,63.97461 L49.7749,60.97461 C49.59228,60.93262 49.42529,60.83984 49.29297,60.70703 L1.46289,12.87695 C-0.48145,10.93359 -0.48242,7.76074 1.46045,5.80468 L5.80274,1.46288 C6.75293,0.51855 8.00977,0 9.34375,0 C10.67871,0 11.93359,0.51953 12.87695,1.46289 L60.70703,49.29297 C60.83984,49.42578 60.93213,49.59277 60.97461,49.77539 L63.97461,62.77539 C64.05176,63.11133 63.95068,63.46289 63.70703,63.70703 C63.51758,63.89648 63.26221,64 63,64 L63,64 Z M50.50439,59.08984 L61.66601,61.66601 L59.09033,50.5039 L11.46289,2.87695 C10.33057,1.74414 8.35449,1.74511 7.21435,2.87988 L2.87695,7.2168 C1.71093,8.39063 1.70996,10.2959 2.87695,11.46289 L50.50439,59.08984 L50.50439,59.08984 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1049_" transform="translate(4.000000, 48.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1050_" transform="translate(8.000000, 44.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1052_" transform="translate(12.000000, 40.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1055_" transform="translate(16.000000, 36.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1138_" transform="translate(36.000000, 16.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1139_" transform="translate(40.000000, 12.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1140_" transform="translate(44.000000, 8.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1141_" transform="translate(48.000000, 4.000000)" fill="#1D1B4C">
                                <path d="M4,5 C3.74414,5 3.48828,4.90234 3.29297,4.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L4.70703,3.29297 C5.09766,3.6836 5.09766,4.31641 4.70703,4.70703 C4.51172,4.90234 4.25586,5 4,5 L4,5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1057_" transform="translate(49.000000, 49.000000)" fill="#1D1B4C">
                                <path d="M1,12 C0.74414,12 0.48828,11.90234 0.29297,11.70703 C-0.09766,11.3164 -0.09766,10.68359 0.29297,10.29297 L10.29297,0.29297 C10.6836,-0.09766 11.31641,-0.09766 11.70703,0.29297 C12.09765,0.6836 12.09766,1.31641 11.70703,1.70703 L1.70703,11.70703 C1.51172,11.90234 1.25586,12 1,12 L1,12 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1193_" transform="translate(55.000000, 55.000000)" fill="#1D1B4C">
                                <path d="M1.5,7.5 C1.24414,7.5 0.98828,7.40234 0.79297,7.20703 C0.40234,6.8164 0.40234,6.18359 0.79297,5.79297 L5.79297,0.79297 C6.1836,0.40234 6.81641,0.40234 7.20703,0.79297 C7.59765,1.1836 7.59766,1.81641 7.20703,2.20703 L2.20703,7.20703 C2.01172,7.40234 1.75586,7.5 1.5,7.5 L1.5,7.5 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1137_" transform="translate(2.000000, 2.000000)" fill="#1D1B4C">
                                <path d="M1,12 C0.74414,12 0.48828,11.90234 0.29297,11.70703 C-0.09766,11.3164 -0.09766,10.68359 0.29297,10.29297 L10.29297,0.29297 C10.6836,-0.09766 11.31641,-0.09766 11.70703,0.29297 C12.09765,0.6836 12.09766,1.31641 11.70703,1.70703 L1.70703,11.70703 C1.51172,11.90234 1.25586,12 1,12 L1,12 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1192_" transform="translate(12.000000, 8.000000)" fill="#1D1B4C">
                                <path d="M45,46 C44.74414,46 44.48828,45.90234 44.29297,45.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L45.70703,44.29297 C46.09766,44.6836 46.09766,45.31641 45.70703,45.70703 C45.51172,45.90234 45.25586,46 45,46 L45,46 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1200_" transform="translate(8.000000, 12.000000)" fill="#1D1B4C">
                                <path d="M45,46 C44.74414,46 44.48828,45.90234 44.29297,45.70703 L0.29297,1.70703 C-0.09766,1.3164 -0.09766,0.68359 0.29297,0.29297 C0.6836,-0.09765 1.31641,-0.09766 1.70703,0.29297 L45.70703,44.29297 C46.09766,44.6836 46.09766,45.31641 45.70703,45.70703 C45.51172,45.90234 45.25586,46 45,46 L45,46 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1203_" transform="translate(31.000000, 15.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.72998,2 0.47998,1.88965 0.29004,1.7002 C0.10986,1.51953 0,1.25977 0,1 C0,0.72949 0.10986,0.46973 0.2998,0.29004 C0.6499,-0.07031 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.46973 2,0.72949 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1204_" transform="translate(31.000000, 11.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.72998,2 0.47998,1.88965 0.29004,1.7002 C0.10986,1.51953 0,1.25977 0,1 C0,0.72949 0.10986,0.47949 0.2998,0.29004 C0.6499,-0.07031 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.72949 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1205_" transform="translate(31.000000, 7.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1207_" transform="translate(31.000000, 3.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.7002 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1209_" transform="translate(31.000000, 59.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.72949 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1208_" transform="translate(31.000000, 55.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1211_" transform="translate(31.000000, 51.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1215_" transform="translate(31.000000, 47.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1224_" transform="translate(47.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.72998,2 0.47998,1.88965 0.29004,1.7002 C0.10986,1.51953 0,1.26953 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.72949 2,1 C2,1.26953 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.27002,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1223_" transform="translate(51.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.69971,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1222_" transform="translate(55.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1221_" transform="translate(59.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.7002 C0.10986,1.51953 0,1.26953 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1219_" transform="translate(3.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.26953 1.88965,1.51953 1.69971,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1218_" transform="translate(7.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.70996 C0.10986,1.51953 0,1.25977 0,1 C0,0.74023 0.10986,0.47949 0.29004,0.29004 C0.66992,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1217_" transform="translate(11.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.73975,2 0.47998,1.88965 0.29004,1.7002 C0.10986,1.51953 0,1.26953 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.32959,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.74023 2,1 C2,1.25977 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                            <g id="XMLID_1225_" transform="translate(15.000000, 31.000000)" fill="#1D1B4C">
                                <path d="M1,2 C0.72998,2 0.47998,1.88965 0.29004,1.7002 C0.10986,1.51953 0,1.26953 0,1 C0,0.72949 0.10986,0.47949 0.29004,0.29004 C0.65967,-0.08008 1.33984,-0.08008 1.70996,0.29004 C1.88965,0.47949 2,0.72949 2,1 C2,1.26953 1.88965,1.51953 1.70996,1.70996 C1.52002,1.88965 1.25977,2 1,2 L1,2 Z" id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </div>
      <h2 class="h4">Designers</h2>
      <p class="hx-subtitle">Start with the following:</p>
      <ol>
        <li>Explore the documentation to learn the HxUI design patterns and principles.</li>
        <li>Review the Components section, to familiarize yourself with the existing components which you can incorporate into your designs.</li>
      </ol>
    </div>
  </div>
</section>
