---
layout: default
title: Badges - Helix Experience UI Documentation
subtitle: Everything you need to <strong>create a web app</strong> with Hx/UI
permalink: resources/download
---
<section class="hx-section is-comfortable">
  <h1 class="hx-title">Download</h1>
  <h2 class="hx-subtitle">Please find below some of the design resources and tools about HxUI that we consider valuable. More of this is still being collected.</h2>
  <hr>

  <div class="hx-columns">
    <div class="hx-column is-4">

      <div class="doc-resources">
        <a href="./HxUI-Stencils-v1.0.sketch" class="doc-resources-download hx-link">
          <div class="hx-card">
            <div class="hx-card-content">
              <div class="hx-flex">
                <img src="/images/sketch-logo.png" class="doc-resources-image" />
                <div>
                  <h5 class="doc-resources-heading">HxUI Stencil</h5>
                  <p class="doc-resources-body">A Sketch template to turn ideas into products faster.</p>
                </div>
                
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
  
  
  

</section>
